<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.godfrey.tamilbible"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="36" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReaderActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BookPickerActivity" android:exported="false" />
        <activity android:name=".SearchActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".PlansActivity" android:exported="false" />
        <activity android:name=".PlanDetailActivity" android:exported="false" />
        <activity android:name=".LibraryActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".VotdActivity" android:exported="false" />
        <activity android:name=".ProgressActivity" android:exported="false" />
        <activity android:name=".GalleryActivity" android:exported="false" />
        <activity android:name=".ArtViewerActivity" android:exported="false" />
        <activity android:name=".MapsActivity" android:exported="false" />
        <activity android:name=".MapViewerActivity" android:exported="false" />
    </application>
</manifest>
